{% extends 'roots/base.html' %}

    {% block content %}
             <div class="portraits">
                <h1>{{ portraits.prenom }} {{ portraits.nom }}</h1>
                    <h2>Photo</h2>
                        <p><img src="{{ portraits.photo.url }}"></p>
                    <h2>Description</h2>
                        <p>{{ portraits.description|linebreaks }}</p>
                    <h2>Faits</h2>
                        <p>{{ portraits.faits|linebreaks }}</p>
                    <h2>Fonctions</h2>
                        <p>{{ portraits.fonctions|linebreaks }}</p>
                    <h2>Oeuvres</h2>
                        <p>{{ portraits.oeuvres|linebreaks }}</p>
                <div class="date">
                    <p>publié le : {{ portraits.date_publication }}</p>
                    <p>ajouté par : {{ portraits.ajouteePar }}</p>
                </div>
            </div>

            <hr>
            <a class="btn btn-default" href="{% url 'add_commentaire_to_portraits' pk=portraits.pk %}">Ajouter un commentaire</a>
            {% for comment in post.comments.all %}
              {% if user.is_authenticated or comment.approved_comment %}
              <div class="comment">
                  <div class="date">
                      {{ comment.created_date }}
                      {% if not comment.approved_comment %}
                          <a class="btn btn-default" href="{% url 'comment_remove' pk=comment.pk %}"><span class="glyphicon glyphicon-remove"></span></a>
                          <a class="btn btn-default" href="{% url 'comment_approve' pk=comment.pk %}"><span class="glyphicon glyphicon-ok"></span></a>
                      {% endif %}
                  </div>
                  <strong>{{ comment.author }}</strong>
                  <p>{{ comment.text|linebreaks }}</p>
              </div>
              {% endif %}
            {% empty %}
            <p>No comments here yet :(</p>
        {% endfor %}
    {% endblock content %}
